[Unit]
Description=IP Link UP
ConditionCapability=CAP_NET_ADMIN
DefaultDependencies=no
Before=systemd-networkd.service

[Service]
Type=forking
ExecStart=/bin/ip link set %i up

[Install]
WantedBy=network-pre.target
RequiredBy=systemd-networkd.service
